.etable, th, td{
    border:1px solid black;
}

.logo 
{
 padding: 10px;
}

footer {
  background-color: skyblue;
  color:black;
  text-align: center;
  padding: 15px ;
bottom:0;
width:100%
}
.home{
    background-color: rgb(143, 176, 213);
  color:black;
  word-spacing: 90px

}
.abc{
 margin: 60px;
}
.abc a{
  text-decoration: none;
  color: black ;
 
}

